*{
	font-family: Helvetica, Arial, sans-serif;
}
#head{
	background-color: #4d636f;
	padding: 20px;
	width: 100%;

}
#middle{
	width: 100%;
	background-repeat: no-repeat;
	height: 600px;	
}
#foot
{
	background-color: #222;
	width: 100%;
	color: white;
}